html {
  font-size: 15px;
  box-sizing: border-box;
}

body {
  background: #FFE6C6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
}

hr {
  width: 90%;
  margin-bottom: 5px;
  border: 1.5px solid transparent;
  border-color: #fb0909;
}

input {
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  border: 1px solid gray;
  padding-left: 10px;
  border-radius: 5px
}

table {
  width: 100%;
}

tr {
  display: table-row;
}

td {
  margin-bottom: 10px;
  align: middle;
  vertical-align: inherit;
  text-align: center;
  border: none;
}

select {
  width: 100%;
  border-radius: 5px;
  background-color:rgba(255, 0, 0, 0.37);
  font-size: 14px;
  cursor: pointer;
}

option:checked:hover, select:focus option:checked:hover {
  background-color: #a5a2a2;
}

.button {
  overflow: hidden;
  padding: 12px 12px;
  cursor: pointer;
  transition: all 150ms linear;
  text-align: center;
  border: 0 none;
  border-radius: 4px;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button:active {
  transition: all 150ms linear;
  opacity: .75;
}

.button.-regular {
  color: #202129;
  background-color: rgba(250, 98, 123, 0.7);
}

.button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.button.-regular:active {
  background-color: #d5d6d6;
  opacity: 1;
}

.panel {
  text-align: center;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1.5px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
  padding-top: initial;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.panel-default {
  border-color: #ff1212;
}

p {
  margin: 10px;
}

#Topic {
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
}

#Topic-2 {
  text-align: center;
  font-size: 24px;
}

#table-1-L {
  width: 45%;
  float: left;
}

#table-1-R {
  width: 50%;
  float: left;
  text-align: left;
}

#table-2-L {
  width: 45%;
  float: left;
  margin-bottom: 0px; 
  border-bottom-style: ridge;
  border-right-style: dashed;
  border-color: rgba(250, 98, 123, 0.7);
}

#table-2-R {
  width: 50%;
  float: left;
  margin-bottom: 0px;
  text-align: left;
  border-bottom-style: ridge;
  border-color: rgba(250, 98, 123, 0.7);

}

#table-3-L {
  width: 22%;
  float: left;
  margin-bottom: 0px;
}

#table-3-M {
  width: 50%;
  float: left;
  margin-bottom: 0px;
}

#table-3-R {
  width: 22%;
  float: left;
  margin-bottom: 0px;
}

@media (max-width:960px) {
  .panel {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width:800px) {
  .panel {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width:720px) {
  #table-2-L {
    width: 100%;
  }
  #table-2-R {
    width: 100%;
    text-align: center;
  }
}

@media (max-width:555px) {
  #table-1-L {
    width: 100%;
  }
  #table-1-R {
    width: 100%;
    text-align: center;
  }
}
